<%- include("partials/header.ejs") %>

  <body>
    <div class="container">
      <h1>Bem-vindo ao Blog CRUD</h1>
      <p>Este é o início do seu projeto de blog!</p>
    </div>
  </body>

  <%- include("partials/footer.ejs") %>