<%- include ../../partials/header.ejs %>

  <div class="container">
    <hr>
    <div class="card mt-5">
      <div class="card-header">
        <h2>Login de Admin</h2>
      </div>
      <div class="card-body">
        <% if (errorMessage) { %>
          <div class="alert alert-danger" role="alert">
            <%= errorMessage %>
          </div>
          <% } %>
            <form action="/authenticate" method="POST">
              <input class="form-control" name="email" type="email" placeholder="email@exemplo.com" required autocomplete="off">
              <br>
              <input class="form-control" name="password" type="password" placeholder="******" required minlength="6" autocomplete="off">
              <br>
              <button type="submit" class="btn btn-success btn-block">Logar</button>
            </form>
      </div>
    </div>
  </div>

  <%- include ../../partials/footer.ejs %>